/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum-v12-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
       url("../fonts/cuprum-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/cuprum-v12-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/cuprum-v12-latin_cyrillic-regular.svg#Cuprum") format("svg"); /* Legacy iOS */
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprum-v12-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
       url("../fonts/cuprum-v12-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/cuprum-v12-latin_cyrillic-italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-italic.woff") format("woff"), /* Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/cuprum-v12-latin_cyrillic-italic.svg#Cuprum") format("svg"); /* Legacy iOS */
}
/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprum-v12-latin_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
       url("../fonts/cuprum-v12-latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/cuprum-v12-latin_cyrillic-700italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-700italic.woff") format("woff"), /* Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-700italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/cuprum-v12-latin_cyrillic-700italic.svg#Cuprum") format("svg"); /* Legacy iOS */
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprum-v12-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
       url("../fonts/cuprum-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/cuprum-v12-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
       url("../fonts/cuprum-v12-latin_cyrillic-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/cuprum-v12-latin_cyrillic-700.svg#Cuprum") format("svg"); /* Legacy iOS */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/pt-sans-v12-latin_cyrillic-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans") format("svg"); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/pt-sans-v12-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
       url("../fonts/pt-sans-v12-latin_cyrillic-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans") format("svg"); /* Legacy iOS */
}

:root {

  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.5);

  --basic-black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.25);

  --slate-gray: rgba(255, 255, 255, 0.3);
  --dark-gray: #a9a9a9;
  --silver-gray: #c5c5c5;
  --light-gray:  #e5e5e5;

  --aluminum-light: #f3f7f8;
  --aluminum-dark: #f1f5f7;

  --pearl-light: #f9f5f0;
  --pearl-dark: #f7f3ec;

  --basic-red: #ee3643;
  --hover-red: #ca2c37;
  --active-red: #ba2732;

  --basic-green: #63a63e;
  --hover-green: #5fbb2d;
  --active-green: #518534;

  --moderate-blue: #3d546f;
  --violet-blue: #32425c;
  --night-blue: #293449;
  --sapphire-blue: #161929;
  --cobalt-blue: #1d2739;

  --promo-frosty-sky: #3bbce3;
  --promo-green-apple: #8ed78f;
  --promo-light-plum: #dc91d8;
  --promo-light-orange: #ffc047;
  --promo-dark-orange: #ffbf47;

  --special-red: #ff5357;
  --special-yellow: #ffd180;
}

/* Общие классы для всех страниц */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black, #000000);

  background-color: var(--basic-white,  #ffffff);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Центрирующий контейнер */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.base-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);

  background-color: var(--basic-red);
  padding: 11px 46px 9px;
  text-transform: uppercase;
  border: none;
}

/* Сетка страницы */

.page-html {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}

/* Header */

.header {
  background-color: var(--aluminum-light);
  padding-top: 0;
  padding-bottom: 64px;
}

/* Header panel */

.head-line {
  background-color: var(--night-blue);
}

/* Оформление текста кнопок и полей ввода */
.control-text {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  text-decoration: none;
}

.header-panel {
  display: flex;
}

/* Логотип */

.logo {
  display: block;
  width: 220px;
  height: 42px;

  line-height: 42px;
  text-align: center;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 0 var(--transparent-black), 0 5px 0 0 var(--basic-red);
}

.logo:active {
  background-color: var(--active-red);
  box-shadow: 0 5px 0 0 var(--transparent-black), 0 5px 0 0 var(--active-red);
}

.logo-img {
  vertical-align: middle;
}

/* Поле поиска */

.header-search {
  position: relative;

  flex-grow: 1;
}

.header-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 42px;

  background-color: transparent;
  border: none;
}

.header-input::placeholder {
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: center;
  color: var(--basic-white);
  text-decoration: none;
}

.header-input:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
  outline: none;
}

.icon-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;

  margin-top: auto;
  margin-bottom: auto;

  fill: var(--slate-gray);
}

.header-input:hover + .icon-search {
  fill: var(--basic-white);
}

.header-input:focus + .icon-search {
  fill: var(--basic-red);
}

/* Ссылки на закладки и корзину */

.button-count {
  position: relative;

  display: block;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 8px;
  padding-left: 42px;
}

.button-empty {
  background-color: transparent;
}

.button-full {
  background-color: var(--basic-red);
}

.button-empty:active {
  color: var(--transparent-white);

  background-color: var(--cobalt-blue);
}

.button-full:active {
  color: var(--transparent-white);

  background-color: var(--active-red);
}

.icon-favorites,
.icon-cart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18px;

  margin-top: auto;
  margin-bottom: auto;

  fill: var(--slate-gray);
}

.button-count:hover .icon-favorites,
.button-count:hover .icon-cart {
  fill: var(--basic-white);
}

.button-count:active .icon-favorites,
.button-count:active .icon-cart {
  fill: var(--slate-gray);
}

/* Кнопка оформления заказа */

.button-order {
  padding: 10px 18px 8px;

  background-color: var(--basic-green);
}

.button-order:hover {
  background-color: var(--hover-green);
}

.button-order:active {
  color: var(--transparent-white);

  background-color: var(--basic-green);
}

/* Header content */

.header-content {
  display: grid;

  column-gap: 20px;

  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 46px;
  padding-bottom: 35px;
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-red);
  margin: 0 30px;
  padding: 0;
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-red);
  display: block;
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  max-width: 270px;
  padding: 4px 36px 5px;
  display: flex;
  align-items: center;
}

.icon-phone {
  margin-right: 16px;
}

.header-addr {
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--violet-blue);
  margin: 4px 12px;
  padding: 0;
}

/* Кнопки регистрации, входа и выхода */

.user-panel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-panel-button {
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);

  background-color: var(--basic-white);
  padding: 12px 24px;
  display: flex;
  justify-items: center;
  margin-left: 10px;

}

.logout-button {
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  width: 100%;
}

.icon-login,
.icon-user,
.icon-logout {
  fill: var(--silver-gray);
}

.icon-login {
  margin-right: 10px;
}

.user-panel-button:hover {
  color: var(--basic-red)
}

.user-panel-button:active {
  color: var(--silver-gray);
}

.user-panel-button:hover .icon-login,
.user-panel-button:hover .icon-user,
.user-panel-button:hover .icon-logout
  {
  fill: var(--moderate-blue);
}

.user-panel-button:active .icon-login,
.user-panel-button:active .icon-user,
.user-panel-button:active .icon-logout
 {
  fill: var(--silver-gray);
}



/* Пользовательское меню */

.user-menu {
  list-style: none;
  padding: 0;
  margin: 8px 12px 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: nowrap;
}

.user-menu li:not(:last-child) {
  padding-right: 30px;
  position: relative;
}

.user-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--violet-blue);
}


.user-menu-link {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--violet-blue);
  display: block;
}

.user-menu-link:hover {
  color: var(--basic-red);
}

.user-menu-link:active {
  color: var(--silver-gray);
}

/* Меню внизу хедера */

.header-nav {
  list-style: none;
  margin: 0;
  background-color: var(--violet-blue);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 26px;
  padding-right: 26px;
  box-shadow: 0 4px 0 0 var(--night-blue);
}

.header-nav-item {
  flex-grow: 1;
  text-align: center;
}

.header-nav-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  display: block;
  padding: 16px;
}

.header-nav-link:hover {
  background-color: var(--night-blue);
}

.header-nav-link:active {
  color: var(--transparent-white);
  background-color: var(--cobalt-blue);
}


.invisible-header {
  display: none;
}

/* Промо */

.promo {
  padding: 62px 0 56px;
}

.promo-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  max-width: 135px;
}

.promo-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 10px 22px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  box-sizing: border-box;
  max-width: 135px;
  text-align: center;
}

.promo-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}

.promo-item {
  padding: 22px;
  background-repeat: no-repeat;
  background-position: calc(100% - 42px) center;
}

.promo-material {
  background-color: var(--promo-dark-orange);
  order: 1;
  background-image: url("../img/icon-material.svg");
}

.promo-instrument {
  background-color: var(--promo-frosty-sky);
  order: 2;
  background-image: url("../img/icon-instrument.svg");
}

.promo-technic {
  background-color: var(--promo-light-plum);
  order: 3;
  background-image: url("../img/icon-technic.svg");
}

.promo-catalog {
  order: 4;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  position: relative;
}


.promo-discount {
  background-color: var(--promo-green-apple);
  order: 5;
  background-image: url("../img/icon-discount.svg");
}

.promo-delivery {
  background-color: var(--promo-light-orange);
  order: 6;
  background-image: url("../img/icon-delivery.svg");
}

.section-header {
  background-color: var(--pearl-light);
  display: flex;
  justify-content: space-between;
  padding: 28px;
}

.promo-slider {
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: var(--violet-blue);

  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
}

.slide {
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.active-slide {
  display: block;
}

.perfo-slide {
  background-image: url("../img/promo-perfo.jpg");
}

.drill-slide {
  background-image: url("../img/promo-drill.jpg");
}

.slider-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: calc(50% - 20px);
}

.prev-button {
  left: 24px;
}

.next-button {
  right: 24px;
  transform: rotate(180deg);
}

.catalog-button {
  position: absolute;
  left: 24px;
  bottom: 28px;
}


.promo-slide-caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 0;
  margin: 24px 24px 6px;
}

.promo-slide-text {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  padding: 0;
  margin: 6px 24px 4px;
}

/* Cards */

.cards {
  padding-bottom: 60px;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--violet-blue);
  text-transform: uppercase;
  padding: 0;
  margin:0 ;
  align-self: center;
}

.grid-4 {
  display: grid;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;

  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;

}

.card-item {
  padding: 6px 18px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.card-link {
  display: block;
  padding: 0;
  margin: 0;
}
.card-img {
  display: block;
  width: 80%;
  margin: 24px auto;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--dark-gray);
  text-transform: uppercase;

  text-decoration-line: line-through;
  display: block;
  max-width: 160px;
  margin: 6px auto 6px;
}

.card-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
  border: none;
  margin-top: auto;
  margin-left:auto;
  margin-right:auto;
  max-width: 160px;
  padding: 10px 40px;
}


/* Partners */

.partners {
  padding: 0 0 62px;
}

.partner-item {
  padding: 40px;
  border: 1px solid #eaeaea;
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
}

.partner-item:hover {
  box-shadow: var(--transparent-black) 0 4px 20px 0;
}

.partner-item:active {
  box-shadow: var(--transparent-black) 0 4px 20px 0;
  opacity: 50%;
}

.partner-link {
  display: block;
}

.partner-logo {
  display: block;
  object-fit: contain;
}

/* Service */
.service {
  background-color: var(--aluminum-dark);
  padding: 40px 0 100px;
}

.service-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.service-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.slider-tab {
  list-style: none;
  padding: 0;
  margin: 0;
}


.slide-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--violet-blue);
  padding: 0;
  margin: 0 0 30px;
  max-width: 300px;
}

.slide-text {
  padding: 0;
  margin: 0 0 20px;
  max-width: 300px;
}

.slider-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 70px;

}

.service-slider {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  position: relative;
}

.service-slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.service-slide-delivery {
  background-image: url(../img/service-delivery.png);
}

.service-slide-guarantee {
  background-image: url(../img/service-guarantee.png);
}

.service-slide-credit {
  background-image: url(../img/service-credit.png);
}

.service-active-slide {
  display: block;
}

.service-active-tab {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--violet-blue);
  padding: 14px 18px 18px;

  background-color: var(--basic-white);
}

.service-tab {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  padding: 14px 18px 18px;

  background-color: var(--violet-blue);
}

.service-tab:hover {
  background-color: var(--night-blue);
}

.service-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--special-red);
}

/* Contacts */

.contacts {
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact-grid {
  display:grid;
  grid-template-columns: 2fr 1fr;
}
.contact-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.transport-company-list {
  list-style: none;
  list-style-image: url("../img/red-line.png");
  margin-bottom: 60px;
}

.transport-company {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
}

.contact-comment {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  margin-bottom: 28px;
}

.map-link {
  display: block;
  margin-bottom: 20px;
}


/* Footer */

.grid-2 {
  display:grid;
  grid-template-columns: auto 1fr;
}

.footer-menu {
  margin-top: 26px;
}

.add-menu {
  margin-top: 16px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 20px;
  padding-bottom: 10px;
}
.contact-button {
  display: block;
  max-width: 200px;
  margin: 20px 0 20px;
}

.footer-content {
  background-color: var(--violet-blue);
  padding: 32px 0 32px;
}

.footer-panel {
  background-color: var(--night-blue);
  padding: 32px 0 32px;
}

.footer-menu,
.add-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer-menu-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--aluminum-dark);
  padding: 12px;
}
.footer-contact {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--aluminum-light);
  padding: 0;
  margin:0;
}

.add-menu-link {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--special-yellow);
  padding: 12px;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  margin: 0;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
}

.social-item {
  margin:0;
  padding:0;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
}

.social-link {
  font-size: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--special-yellow);
  padding: 8px;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 10px;
}

.social-link:hover,
.social-link:active {
  background-color: var(--basic-red);
}

.footer-link {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--special-yellow);
}

.footer-menu-link:hover,
.footer-link:hover,
.add-menu-link:hover {
  text-decoration: underline;
}

.footer-feedback {
  display: flex;
  justify-content: flex-start;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination-item {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);

  border: 1px solid var(--light-gray);
  border-radius: 2px;
  padding: 16px 20px;
  margin-right: 10px;
}

.pagination-item-active {
  color: var(--basic-white);

  background-color: var(--basic-red);
}

.pagination-item:hover {
  border: 1px solid var(--silver-gray);
}
.pagination-item:active {
  border: 1px solid var(--basic-red);
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumbs-item{
  padding: 20px;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--violet-blue);
  text-transform: uppercase;

  background-color: var(--aluminum-light);
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--pearl-dark);
}

.sort-panel {
  background-color: var(--pearl-dark);
  display: flex;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-right: auto;
}

.sort-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sort-menu-item {
  padding: 10px;
}

.sort-menu-link-active {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-red);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.sort-menu-link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  opacity: 0.3;

  text-decoration-color: var(--basic-red);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.sort-menu-link:hover {
  opacity: 1;

  text-decoration-style: solid;
}

.special-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "filter sort"
                       "filter list";
}

.filter-panel {
  grid-area: filter;
}

.sort-panel {
  grid-area: sort;
}

goods-panel{
  grid-area: list;
}

.card-list {
  display:grid;
  list-style: none;
  grid-template-columns: repeat(3,1fr);
  padding:0;
  margin:0;
}

.modal-form {
  display: block;
  border-top: 7px solid var(--basic-red);
  border-bottom: none;
  position: relative;
  box-shadow: var(--transparent-black) 0 4px 20px 0;
}

.geo-form {
  max-width: 960px;
}

.feedback-form {
  max-width: 620px;
}

.modal-map-close {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 10px;
  top: 10px;
}

.input-container {
  padding: 36px 70px;
}
.button-container {
  padding: 36px 70px;
  background-color: #f4f4f4;
}


.form-control {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.form-group {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
